.day-list {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
}

.day {
  padding: 2em 0 3em 0 ;
  width: 15rem;
  float: left;
  text-align: center;
  color: white;
  transition: transform .2s;
  border-right-style: solid;
  border-width: 1px;
}

.day:hover{
   background-color: rgba(0, 0, 0, 0.05);
   cursor: pointer;
   transform: scale(1.15);
}

.images {
  padding-top: 50px;
  padding-bottom: 25px;
}

.vl {
    border-left: 1px solid white;
    height: 100px;
}
